<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto crm</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div class="contenedor">
        <nav class="navegacion">
            <h2>CRM-indexDB</h2>
            <h4>Administra tus clientes con el CRM-indexDB</h4>
            <ul>
                <li>
                    <a th:href="@{/incios}">Clientes</a>
                </li>
                <li>
                    <a >Nuevo cliente</a>
                </li>
            </ul>
        </nav>
        <div class="contenido-principal">
            <!-- Contenido principal -->
            <h1>Agregar Nuevo cliente</h1>
            
            <div class="formulario">
                <form th:action="@{/guardar}" id="form" method="post" th:object="${persona}">
                    <h3>Contact details</h3>
                        <div class="info-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" th:field="*{nombre}"> <br>
                            <label for="telefono">identificacion</label>
                            <input type="text" name="identificacion" id="identificacion" th:field="*{identificacion}"> <br>
                            
                        
                            <input class="btn-input" type="submit" name="guardar" value="Guardar">
                        </div>
                </form>
        
            </div>
        </div>
        
    </div>
  
   
</body>
<script type="module" src="/js/addclient/addCliente.js"></script>
</html>